*{
    font-family: "Verdana";
    margin: 0;
    padding: 0;
}
body {
	position: relative;
	width: 100%;
	overflow-x: hidden;
	background: #f2f2f2;
}
.nav-item{
    margin-right: 20px;
    margin-top: 5px;
    font-weight: 900;
}
.carousel-inner{
    padding-top: 50px;
}
.carousel .carousel-control {
  opacity: 1
}
.carousel .carousel-control.left {
  background-image: linear-gradient(to right, rgb(0, 0, 0) 0, rgba(0, 0, 0, 0) 100%);
}
.carousel .carousel-control.right {
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0, rgb(0, 0, 0) 100%);
}
.right-div{
    margin-top: 10%;
}
.description-azbar{
    background-color: black;
    color: #F6F7F8;
}
p{
    font-size: 1.5rem;
    color: aliceblue;
}
.descriptionOvio{
    padding: 10px 40px 10px 40px;
}
.details-azbar{
    background-image: url("/data/images/theVclub2.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding-left: 5%;
    padding-right: 5%;
}
.details-azbar p{
    color: #f2f2f2;
}
.details-azbar h3{
    color: #f2f2f2;
}
.betweenDiv{
    background-color: #e51d37;
    height: 2rem;
    border-top: 1px solid #cd1436;
    border-bottom: 1px solid #cd1436;
}
.slike{
    width: 100%;
    height: 100%;
    object-fit: contain;
    overflow: hidden;
}
.headerPartners{
    background-color: #e51d37;
    color:  #bbc2ca;
    align-content: center;
    
}
.ourPartners{
    background-color: #4e5863;
    padding: 10px;
    color: #bbc2ca;

}
.icons{
    width: 100%;
    max-height: 200px;
}
.boks{
    margin-top: 100px;
    position: relative;
    z-index: 1;
    margin-bottom: 50px;
    border: 5px solid #e51d37;
    border-radius: 15px;
    box-shadow: 10px 10px 5px #4e5863;
}
}
.contact-info{
    font-size: 4rem;
}
.boks .myDiv {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #4e5863;
    opacity: .4;
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
footer{
    background-color: black;
}
a:link {
  color: #4e5863;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: #4e5863;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
    text-decoration: none!important;
    color: #cd1436!important;
}
ul{
    font-size: 2rem;,
}
li{
    list-style-type: none;
}
.listaHrvatska, .listaCrnaGora, .listaSvijet{
    border: 3px solid #e51d37;
    border-radius: 10px;
    background-color: #bbc2ca;
}
<-- -->
.container{
	padding-top: 100px;
}
.product-grid{
	padding-bottom: 20px;
	padding-top: 20px;
}
.product-grid:hover{
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.image{
	position: relative;
}
.image2{
	position: relative;
	padding-bottom: 20px;
}
.overlay{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(67, 68, 68, 0.7);
}
.image:hover .overlay{
	opacity: 1;
}
.detail{
	color: #fff;
	font-size: 20px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
}
a,
.text-dark{
	color: #a3a3a3;
}
a:hover,
a:focus,
a:active{
	color: #a3a3a3;
	text-decoration: none;
}
div .all {
	padding-bottom: 30px;
}
.text-faded{
	color: rgba(255,255,255,0.7);
}

/*Dugmadi*/
.btn-secondary{
	background:#3d3d3d;
	border-color: #3d3d3d;
}

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active{
	
	color: #fff;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25);
}
.btn-xl{
	padding: 12px 30px;
	border-radius: 40px;
}
.bg-primary{
	background: rgba(64,39,160,1) !important;
}
h2,h3,h4{
	margin: 0;
	font-weight: 700;
}
p{
	margin: 0;
}
section {
	padding: 100px 0px;
}
.section-title{
	position: relative;;
	font-size: 50px;
	text-transform: uppercase;
	color:#3d3d3d;
}
.lead{
	font-size: 16px;
	font-weight: 300;
}
/*Presentation of the product*/

.showcase{
	position: relative;
	width: 100%;
	height: 100vh;
	background: url('../images/2.png')no-repeat center center;
	background-size: cover; 
}
.showcase h2{
	font-size: 50px;
	letter-spacing: .2px;
	font-weight: 300;
	font-style: bold;
}
.showcase .lead{
	line-height: 1.4;
}
/*about*/
.about-section .lead{
	color: #F6F7F8;
}
.about-section h2{
	color: #F6F7F8;
	}

/*specifikacije*/
.services-icon{
	width: 100px;
	height: 100px;
	background: #fff;
	color: #cd1436;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25);

}
/*ostali*/
.ostali-items{
	display: block;
	position: relative;
	overflow: hidden;
}
.ostali-items img{
	height: 300px;
	object-fit: cover;
}
.ostali-items .caption{
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	z-index: 1;
	display: flex;
	width: 100%;
	height: 100%;
	transition: all 1s ease;
}
.ostali-items h2 {
	visibility: hidden;
}
.ostali-items p {
	visibility: hidden;
}
.ostali-items .caption .caption-content{
	color: #cd1436;
	margin: auto 30px 30px;
}
.ostali-items .caption .caption-content h2{
	font-size: 26px;
}
.ostali-items:hover .caption{
	background: rgba(205,20,54, .9);

}
.ostali-items:hover .caption h2{
	visibility: visible;
	
}
.ostali-items:hover .caption p{
	visibility: visible;
	
}
.ostali-section h2{
	padding-bottom: 40px;

}
.ostali-items:hover .caption .caption-content{
	color: #f6f7f8;
}
.scroll-to-top{
	position: fixed;
	right: 15px;
	bottom: 15px;
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #F6F7F8;
	background:  #003087;
	box-shadow: 0 14px 18px rgba(0,0,0,0.25);
}
.scroll-to-top:focus,
.scroll-to-top:hover{
	color: #F6F7F8;
	background: #002468;
}
@media screen and (min-width: 721px) and(max-width: 1199px){
	.showcase{
		height: auto;
		padding: 180px 0px;
	}
	.ostali-items img{
		height: 300px;
		width: 100%;
	}
}
#headerPopup{
  width:75%;
  margin:0 auto;
}

#headerPopup iframe{
  width:100%;
  margin:0 auto;
}




